
<div class="container-fluid">
  <div class="row" >
    <div class=" form-group col-sm-12 col-md-12 col-lg-1 col-xl-1">    
    </div>
    <div class=" form-group col-sm-12 col-md-12 col-lg-10 col-xl-10"> 
      <div class="row">
        <mat-toolbar>
          <div class=" form-group col-sm-12 col-md-12 col-lg-10 col-xl-9"> 
            <span >Ingresar Usuario</span>
          </div>
          <div class=" form-group col-sm-12 col-md-12 col-lg-10 col-xl-3">
            <button style="margin-left: 40%; width: 100px;" mat-raised-button color="primary"
                routerLink="/correspondencia/mostrar"
                ><mat-icon>reply</mat-icon > Volver</button> 
          </div>         
      </mat-toolbar>
      </div>  
      <div class="row" style=" background-color: #efefef;">
        <section class="d-flex justify-content-center align-items-center">
          <div class="card shadow col-md-4 col-sm-4 col-md-4 col-lg-4 p-4 ancho"> 
              <div class="row">                
                  <h2>  <i class="bi bi-chat-left-quote"></i> &nbsp; Ingrese Los Siguientes Datos</h2>
              </div>
              <div class="mb-1 col-4">
                  <form [formGroup]="registroUsuario" (ngSubmit)="ingresar()">
                      <div class="mb-4 d-flex "> 
                          <div class="col-md-10">
                            <mat-form-field>                        
                              <input matInput                                      
                                     type="text"                                     
                                     autocomplete="off"
                                     formControlName="Email"
                                     placeholder="Email">
                            </mat-form-field>
                          </div> 
                          <span class="input"></span>                         
                          <div class="col-md-10">
                            <mat-form-field>                        
                              <input matInput 
                                     type="password"                                     
                                     autocomplete="off"
                                     formControlName="Password"
                                     placeholder="Contraseña">
                            </mat-form-field>
                          </div>    
                          <span class="input"></span>                            
                          <div class="col-md-10">
                            <mat-form-field>                        
                              <input matInput 
                                     type="password"                                     
                                     autocomplete="off"
                                     formControlName="Password2"
                                     placeholder="Confirmar contraseña">
                            </mat-form-field>
                          </div> 
                      </div> 
                      <div class="mb-4 d-flex ">
                        <div class="col-md-10">
                          <mat-form-field>                        
                            <input matInput 
                                   type="text"                                     
                                   autocomplete="off"
                                   formControlName="NombreUsuario"
                                   placeholder="Nombre de usuario">
                          </mat-form-field>                          
                        </div>
                        <span class="input"></span>         
                        <div class="col-md-10">
                          <mat-form-field>
                            <mat-label>Rol del usuario</mat-label>
                            <mat-select formControlName="IdRol"
                                        type="number">
                                <mat-option *ngFor="let rol of roles" [value]="rol.idRol">
                                {{ rol.nombreRol}                            
                                </mat-option>
                            </mat-select>
                            </mat-form-field>                           
                        </div>
                        <span class="input"></span>
                        <div class="col-md-10">
                          <div>  
                            <mat-form-field appearance="fill" [formGroup]="fecha">
                                <mat-label> Ingrese fecha de activacion </mat-label>                                                
                                <input formControlName="ActivacionUsuario" matInput  [matDatepicker]="datepicker">                                               
                                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                                <mat-datepicker #datepicker>
                                  <mat-datepicker-actions>
                                    <button mat-button matDatepickerCancel>Cancelar</button>
                                    <button mat-raised-button color="primary" matDatepickerApply>aceptar</button>
                                  </mat-datepicker-actions>
                                </mat-datepicker>
                              </mat-form-field>                                         
                        </div>
                        </div>
                      </div>
                      <div class="mb-4 d-flex">
                        </div>     
                      <div class="mb-2" >
                        <button mat-raised-button color="primary" class="ancho3"                                                 
                        type="submit" [disabled]="registroUsuario.invalid">
                           <mat-icon mat-list-icon >send</mat-icon> Ingresar 
                       </button>  
                      </div>                                 
                  </form>
              </div>
          </div>
      </section>
      </div> 
      <div class="row">
        <mat-toolbar>          
        <div class=" form-group col-sm-12 col-md-12 col-lg-5 col-xl-5">
          <span>Filtrar Usuarios Por Nombre: </span> 
            <mat-form-field autocomplete="off" class="busqueda">
              <input  matInput 
                      spellcheck="false"                        
                      placeholder=""
                      #txtSearch
                      (keyup)="onSearchNombreUsuario( txtSearch.value )">
          </mat-form-field>        
        </div>
        <div style="margin-left: 40%" class=" form-group col-sm-12 col-md-12 col-lg-4 col-xl-4">
          <button mat-raised-button color="primary"
            class="paginacion"
            (click)="prevPage()">
       Anterior
        </button>
         &nbsp;
        <button mat-raised-button color="primary"
            class="paginacion"
            (click)="nextPage()"
            [disabled]="(users | search:pagina:search).length < 5">
          Siguiente
         </button> 
        </div>          
        </mat-toolbar>        
      </div> 
      <div class="row" >
        <div class="card-body">
          <table class="table table-hover table-bordered border">
            <thead>
              <tr class="fondoEncabezados text-white" id="miTablaPersonalizada">
                <th scope="col">Id Usuario</th>
                <th scope="col">Nombre</th>
                <th scope="col">Rol</th>
                <th scope="col">Email</th>
                <th scope="col" class="centrarTexto">Estado</th>
                <th scope="col" class="centrarTexto">Fecha Activacion</th>
                <th scope="col" class="centrarTexto">Fecha Desactivacion</th>
                <th scope="col" class="centrarTexto">Editar</th>
              </tr>
            </thead>
            <tbody *ngFor="let usuario of users | search:pagina:search">
              <tr id="miTablaPersonalizada2">
                <td class="centrarTexto"> {{ usuario.IdUsuario }} </td>
                <td> {{ usuario.NombreUsuario }} </td>
                <td> {{ usuario.Rol }} </td>
                <td> {{ usuario.CorreoUsuario }} </td>
                <td class="centrarTexto"> {{ usuario.Estado! | estado }} </td>
                <td class="centrarTexto"> {{ usuario.ActivacionUsuario | fecha }} </td>
                <td class="centrarTexto"> {{ usuario.DesactivacionUsuario | fecha}} </td>
                <td class="centrarTexto"> <a class="pointer" style="color: #e15639" matTooltip="Editar Usuario"
                  [routerLink]="['/correspondencia/modificarUsuario/', usuario.IdUsuario]">           
                  <mat-icon>edit</mat-icon>
              </a></td>               
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class=" form-group col-sm-12 col-md-12 col-lg-1 col-xl-1">    
    </div>
  </div>
</div>
 

<div fxLayout="columns wrap" fxLayoutAlign="center center">
    <div
    style="font-style: italic"
    [ngStyle.xs]="{'font-size.px': 10, color: 'blue'}"
    [ngStyle.sm]="{'font-size.px': 20, color: 'lightblue'}"
    [ngStyle.md]="{'font-size.px': 30, color: 'orange'}">
    <div class="ancho2">
       
    </div>
 
      
    </div>

    
    <br>
    <div>
      <div class="ancho2">
        
    </div>
      <div class="container-fluid ancho2" >
        <div class="row">
          <div class="col-lg-12 col-md-6 col-12">                     
            
          </div>         
        </div>
      </div>      
    </div>
  </div>

  <!-- <p class="text-muted">text-muted</p>
  <p class="text-primary">text-primary</p>
  <p class="text-success">text-success</p>
  <p class="text-info">text-info</p>
  <p class="text-warning">text-warning</p>
  <p class="text-danger">text-danger</p>
  <p class="text-secondary">text-secondary</p>
  <p class="text-white">text-white</p>
  <p class="text-dark">text-dark</p>
  <p class="text-light">text-light</p>
  
  <p class="bg-muted">bg-muted</p>
  <p class="bg-primary">bg-primary</p>
  <p class="bg-success">bg-success</p>
  <p class="bg-info">bg-info</p>
  <p class="bg-warning">bg-warning</p>
  <p class="bg-danger">bg-danger</p>
  <p class="bg-secondary">bg-secondary</p>
  <p class="bg-white">bg-white</p>
  <p class="bg-dark">bg-dark</p>
  <p class="bg-light">bg-light</p> -->