
<div fxLayout="columns wrap" fxLayoutAlign="center center">
    <div
    style="font-style: italic"
    [ngStyle.xs]="{'font-size.px': 10, color: 'blue'}"
    [ngStyle.sm]="{'font-size.px': 20, color: 'lightblue'}"
    [ngStyle.md]="{'font-size.px': 30, color: 'orange'}">
    <div class="ancho2">
        <mat-toolbar>
            <span>Ingresar Usuario</span>
            <div class="spacer"></div>
            <button mat-raised-button color="primary"
                routerLink="/correspondencia/mostrar" 
                fxFlex="10"                    
                ><mat-icon>reply</mat-icon > Volver</button>             
        </mat-toolbar>
    </div>
    <div class="ancho4">
      <section class="d-flex justify-content-center align-items-center">
          <div class="card shadow col-md-4 col-sm-4 col-md-4 col-lg-4 p-4 ancho"> 
              <div class="row">
                
                  <h2>  <i class="bi bi-chat-left-quote"></i> &nbsp; Ingrese Los Siguientes Datos</h2>
              </div>
              <div class="mb-1 col-4">
                  <form [formGroup]="registroUsuario" (ngSubmit)="ingresar()">
                      <div class="mb-4 d-flex "> 
                          <div class="col-md-10">
                            <mat-form-field>                        
                              <input matInput                                      
                                     type="text"                                     
                                     autocomplete="off"
                                     formControlName="email"
                                     placeholder="Email">
                            </mat-form-field>
                          </div> 
                          <span class="input"></span>                         
                          <div class="col-md-10">
                            <mat-form-field>                        
                              <input matInput 
                                     type="password"                                     
                                     autocomplete="off"
                                     formControlName="password"
                                     placeholder="Contraseña">
                            </mat-form-field>
                          </div>    
                          <span class="input"></span>                            
                          <div class="col-md-10">
                            <mat-form-field>                        
                              <input matInput 
                                     type="password"                                     
                                     autocomplete="off"
                                     formControlName="password2"
                                     placeholder="Confirmar contraseña">
                            </mat-form-field>
                          </div> 
                      </div> 
                      <div class="mb-4 d-flex ">
                        <div class="col-md-10">
                          <mat-form-field>                        
                            <input matInput 
                                   type="text"                                     
                                   autocomplete="off"
                                   formControlName="nombreUsuario"
                                   placeholder="Nombre de usuario">
                          </mat-form-field>                          
                        </div>
                        <span class="input"></span>         
                        <div class="col-md-10">
                          <mat-form-field>
                            <mat-label>Rol del usuario</mat-label>
                            <mat-select formControlName="idRol"
                                        type="number">
                                <mat-option *ngFor="let rol of roles" [value]="rol.idRol">
                                {{ rol.rol}}                            
                                </mat-option>
                            </mat-select>
                            </mat-form-field>                           
                        </div>
                        <span class="input"></span>         
                        <div class="col-md-10">
                            <mat-slide-toggle formControlName="estado" fxFlex="15"></mat-slide-toggle>
                           <h4>Activo/Inactivo</h4>                  
                        </div>
                      </div>
                      <div class="mb-4 d-flex">
                        <div class="col-md-10">
                          <form class="row row-cols-sm-auto">
                            <div class="col-12">
                              <div class="input-group">                                                              
                                 <input type="text" class="form-control" placeholder="Fecha Activacion"
                                        name="usuarioActivo" [(ngModel)]="usuarioActivo" ngbDatepicker #d1="ngbDatepicker"
                                        >
                                 <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button">
                                   <mat-icon>event</mat-icon>
                                 </button>
                                 {{ usuarioActivo | json }}
                               </div>
                             </div>
                           </form>
                        </div>
                        <span class="input"></span>                         
                          <div class="col-md-10">
                            <form class="row row-cols-sm-auto">
                              <div class="col-12">
                                <div class="input-group">                                
                                   <input class="form-control" placeholder="Fecha Desactivacion" type="text"
                                          name="usuarioNoActivo" [(ngModel)]="usuarioNoActivo" ngbDatepicker #d2="ngbDatepicker">
                                   <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button">
                                     <mat-icon>event</mat-icon>
                                   </button>
                                 </div>
                               </div>
                             </form>
                          </div>
                        </div>     
                      <div class="mb-2" >
                        <button mat-raised-button color="primary" class="ancho3"                                                 
                        type="submit" [disabled]="registroUsuario.invalid">
                           <mat-icon mat-list-icon >send</mat-icon> Ingresar 
                       </button>  
                      </div> 
                                
                  </form>
              </div>
          </div>
      </section>
    </div>

    
    <br>
    <div >
      <div class="ancho2">
        <mat-toolbar>
            <span>Listado Usuarios</span>
            <div class="spacer2"></div>
            <form autocomplete="off">
              <input type="text"
                     name="filtro"
                     class="form-control salto"
                     [(ngModel)]="filtro"
                     (input)="filtrarPorCorrelativo()"
                     placeholder="Nombre Usuario">
         </form>  
        </mat-toolbar>
    </div>
      <div class="example-container ancho2" >
        <table mat-table
        [dataSource]="users" multiTemplateDataRows
        class="mat-elevation-z8">
        
        <ng-container matColumnDef="IdUsuario">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let user"> {{user.idUsuario}} </td>
        </ng-container> 
        
        <ng-container matColumnDef="NombreUsuario">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let user"> {{user.nombreUsuario}} </td>
        </ng-container>  
        
        <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let user"> {{user.correoUsuario}} </td>
        </ng-container>
        
        <ng-container matColumnDef="Rol">
          <th mat-header-cell *matHeaderCellDef> Rol</th>
          <td mat-cell *matCellDef="let user"> {{user.rol}} </td>
        </ng-container> 
        
        <ng-container matColumnDef="Estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let user"> {{user.estado | estado}} </td>
          </ng-container>
        
          <ng-container matColumnDef="FechaActivacion">
            <th mat-header-cell *matHeaderCellDef> Fecha Activacion </th>
            <td mat-cell *matCellDef="let user"> {{user.activacionUsuario | date: 'dd/MM/yyyy'}} </td>
          </ng-container>
        
          <ng-container matColumnDef="FechaDesactivacion">
            <th mat-header-cell *matHeaderCellDef> Fecha Desactivacion </th>
            <td mat-cell *matCellDef="let user"> {{user.desactivacionUsuario | date: 'dd/MM/yyyy' }} </td>
          </ng-container>
            
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let user" style="text-align: right;">
           
            <a class="pointer" style="color: #e15639" matTooltip="Editar Usuario"
                [routerLink]="['/correspondencia/administrador/modificar', user.idUsuario]"
                mat-dialog-close  >           
                <mat-icon>edit</mat-icon>
            </a>
          </td>
          </ng-container>
         
         
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let user" [attr.colspan]="columnsToDisplay.length">     
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
          <tr mat-row *matRowDef="let user; columns: columnsToDisplay;"
              class="example-element-row"
              [class.example-expanded-row]="expandedElement === user"
              (click)="expandedElement = expandedElement === user ? null : user">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
        </div>
</div>
    </div>
</div>

   





<!-- 
                           <form class="row row-cols-sm-auto">
                            <div class="col-12">
                              <div class="input-group">
                                 <input class="form-control" placeholder="yyyy-mm-dd"
                                        name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                                 <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                   <mat-icon>event</mat-icon>
                                 </button>
                               </div>
                             </div>
                           </form>  





     <mat-grid-tile [colspan]="1" [rowspan]="1">                   
              
                            <mat-slide-toggle ngModel name="estado" required>Estado Correo</mat-slide-toggle>                           
                      
                    </mat-grid-tile>    
      <mat-grid-tile [colspan]="1" [rowspan]="1">                   
                        <mat-form-field appearance="fill" class="example-form-field">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="datepicker">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                            <mat-datepicker #datepicker>
                              <mat-datepicker-actions>
                                <button mat-button matDatepickerCancel>Cancel</button>
                                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                              </mat-datepicker-actions>
                            </mat-datepicker>
                          </mat-form-field>
                    </mat-grid-tile>     
                    <mat-grid-tile [colspan]="1" [rowspan]="1">                   
                        <mat-form-field appearance="fill" class="example-form-field">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="datepicker">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                            <mat-datepicker #datepicker>
                              <mat-datepicker-actions>
                                <button mat-button matDatepickerCancel>Cancel</button>
                                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                              </mat-datepicker-actions>
                            </mat-datepicker>
                          </mat-form-field>
                    </mat-grid-tile>   

 -->

 <!--
   <mat-card style="margin-top: 10px;" fxLayoutGap>
            <form [formGroup]="loginForm" (ngSubmit)="ingresar()" autocomplete="off">
                <mat-grid-list cols="2" rowHeight="70px">
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field class="ancho" >                        
                            <input matInput 
                                   type="text"                                  
                                   autocomplete="off"
                                   formControlName="idUsuario"
                                   placeholder="ID">
                          </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field class="ancho">
                            <mat-label>Rol</mat-label>
                            <mat-select formControlName="idRol"
                                        type="number">
                                <mat-option *ngFor="let tipo of roles" [value]="tipo.idRol">
                                {{ tipo.rol }}                            
                                </mat-option>
                            </mat-select>
                            </mat-form-field>   
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field class="ancho" >                        
                            <input matInput                                   
                                   autocomplete="off"
                                   type="text"
                                   formControlName="email"
                                   placeholder="Email">
                          </mat-form-field>     
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">                   
                        <mat-form-field class="ancho">
                            <input matInput 
                                   type="text"                                  
                                   autocomplete="off"
                                   formControlName="password"
                                   placeholder="Contraseña">                            
                            </mat-form-field>
                    </mat-grid-tile>   
                    <mat-grid-tile [colspan]="1" [rowspan]="1">                   
                        <mat-form-field class="ancho">
                            <input matInput 
                                   type="text"                                  
                                   autocomplete="off"
                                   formControlName="nombreUsuario"
                                   placeholder="Nombre">                            
                            </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">                                         
                        <mat-slide-toggle formControlName="estado"  fxFlex="15">Activo</mat-slide-toggle>
                  </mat-grid-tile> 
                    <mat-grid-tile [colspan]="1" [rowspan]="1" >
                      <p>
                        <button type="button" class="btn btn-outline-primary" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
                          aria-controls="collapseExample">
                          Toggle
                        </button>
                      </p>
                      <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                        <div class="card">
                          <div class="card-body">
                            <form class="row row-cols-sm-auto">
                              <div class="col-12">
                                <div class="input-group">
                                   <input class="form-control" placeholder="yyyy-mm-dd"
                                          name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                                   <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                     <mat-icon>event</mat-icon>
                                   </button>
                                 </div>
                               </div>
                             </form> 
                          </div>
                        </div>
                      </div>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="1" [rowspan]="1">                   
                    <form class="row row-cols-sm-auto">
                      <div class="col-12">
                        <div class="input-group">
                           <input class="form-control" placeholder="yyyy-mm-dd"
                                  name="dpo" [(ngModel)]="modelo" ngbDatepicker #d="ngbDatepicker">
                           <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                             <mat-icon>event</mat-icon>
                           </button>
                         </div>
                       </div>
                     </form>   
                </mat-grid-tile>
                </mat-grid-list>   
                <div fxLayout="columns wrap" fxLayoutAlign="center" >
                    <button mat-raised-button color="primary" class="ancho3"                                                 
                        type="submit" [disabled]="loginForm.invalid">
                    <mat-icon mat-list-icon >send</mat-icon> Ingresar 
                </button>  
                </div>               
            </form>
        </mat-card>
-->


