<div fxLayout="columns wrap" fxLayoutAlign="center" >
  <div fxFlex="150"
  style="font-style: italic"
  [ngStyle.xs]="{'font-size.px': 10, color: 'blue'}"
  [ngStyle.sm]="{'font-size.px': 20, color: 'lightblue'}"
  [ngStyle.md]="{'font-size.px': 30, color: 'orange'}">
  
<div class="ancho4">
  <mat-toolbar>
    <h1>Filtrado Por Fechas: </h1>
        <div class="filtroFecha">
          <mat-form-field appearance="fill" class="ancho" >
            <mat-label>Ingrese rango de Fechas</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker" disabled >
              <input matStartDate formControlName="start" placeholder="Fecha Inicio">
              <input matEndDate formControlName="end" placeholder="Fecha Final" >
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker disabled="false"></mat-date-range-picker>
              </mat-form-field>
              <span class="separacionIconos"></span> <button mat-raised-button color="primary" (click)="filtraFechas()">Aceptar</button>         
            <span class="filtroFecha"></span>      
            <button mat-raised-button color="primary"
            [routerLink]="['/correspondencia/filtroNombre']"
            ><mat-icon>badge</mat-icon ><span class="separacionIconos"></span>Por Usuario </button> 
            <span class="filtroFecha"></span>      
            <button mat-raised-button color="primary"
            [routerLink]="['/correspondencia/filtrar']"                    
            ><mat-icon>search</mat-icon><span class="separacionIconos"></span>Por Tipo Documento </button>               
            <span class="espacio"></span>              
            <button mat-raised-button color="primary"
            class="paginacion"
            (click)="prevPage()">
            Anterior
            </button>
            &nbsp;
            <button mat-raised-button color="primary"
            class="paginacion"
            (click)="nextPage()"
            >
            Siguiente
            </button>       
          </div>              
          </mat-toolbar>  
          <div class="ancho3" *ngIf="hayError">
            <div >
              <div class="container-fluid" >
                <div class="row">
                  <div class="col-lg-12 col-md-6 col-12">                  
                    <div class="card-body">
                      <table class="table table-hover table-responsive">
                        <thead>
                          <tr class="fondoEncabezados text-white" id="miTablaPersonalizada">
                            <th class="centrarTexto">Fecha</th>
                            <th>Usuario</th>
                            <th class="centrarTexto">Correlativo</th>
                            <th>Tipo Envio</th>
                            <th>Tipo Documento</th>
                            <th>Destinatario</th>
                            <th>Referencia</th>
                            <th class="centrarTexto">Estado</th>
                            <th class="centrarTexto">Editar</th>
                          </tr>
                        </thead>                     
                          <tbody *ngFor="let correo of correos | paginar:pagina ">                         
                            <tr id="miTablaPersonalizada2">
                              <td class="centrarTexto"> {{ correo.fecha | date: 'dd/MM/yyyy'}} </td>
                                <td> {{ correo.usuario }} </td>
                                <td class="centrarTexto"> {{ correo.correlativo }} </td>
                              <td> {{ correo.nombreEnvio }} </td>
                              <td> {{ correo.nombreDocumento }} </td>
                              <td> {{ correo.destinatario }} </td>
                              <td> {{ correo.referencia }} </td>
                              <td class="centrarTexto"> {{ correo.estadoCorreo }} </td>
                              <td class="centrarTexto"> <a class="pointer" style="color: #e15639" matTooltip="Editar correspondencia"
                                [routerLink]="['/correspondencia/modificar/', correo.correlativo]">           
                                <mat-icon>edit</mat-icon>
                            </a></td> 
                            </tr>
                          </tbody>                        
                      </table>
                    </div>
                  </div>         
                </div>        
              </div>
            </div>          
      </div>
          </div>
  </div>
</div>


