<div class="container">
  <mat-toolbar>
    <span>Filtrar Correspondencia</span>
    <div class="spacer"></div>
            <button mat-raised-button color="primary"
                 (click)="openDialog()"                     
            ><mat-icon>event</mat-icon >Por rango de fechas </button>    
  </mat-toolbar>
<form autocomplete="off">
    <input type="text"
           name="filtro"
           class="form-control salto"
           [(ngModel)]="filtro"
           (input)="filtrarPorCorrelativo()"
           placeholder="correlativo">
          </form>  
<app-tabla [correos]="correos" *ngIf="hayError"></app-tabla>
</div>