<div class="container-fluid">
  <div class="row" >
    <div class=" form-group col-sm-12 col-md-12 col-lg-1 col-xl-1">    
    </div>
    <div class=" form-group col-sm-12 col-md-12 col-lg-10 col-xl-10">    
      <div class="row">
        <mat-toolbar>
          <div class=" form-group col-sm-12 col-md-3 col-lg-3 col-xl-3"> 
            <span style="margin-left: -3%;">Filtrar Correspondencia</span>    
          </div>
          <div class=" form-group col-sm-12 col-md-3 col-lg-3 col-xl-3 d-flex justify-content-center">
            <button mat-raised-button color="primary"
                    [routerLink]="['/correspondencia/filtroFechas']">
            <mat-icon>event</mat-icon ><span class="separacionIconos"></span>Por Rango de Fechas </button>         
          </div>
          <div class=" form-group col-sm-12 col-md-3 col-lg-3 col-xl-3 d-flex justify-content-center">
            <button style="width: 93%;" mat-raised-button color="primary"
                  [routerLink]="['/correspondencia/filtroNombre']">
            <mat-icon>badge</mat-icon ><span class="separacionIconos"></span>Por Usuario </button>
          </div>
          <div class=" form-group col-sm-12 col-md-3 col-lg-3 col-xl-3 d-flex justify-content-center">
            <button mat-raised-button color="primary"
                  [routerLink]="['/correspondencia/filtrar']"
                  [disabled]="true">
            <mat-icon>search</mat-icon><span class="separacionIconos"></span>Por Tipo Documento </button>       
          </div>
        </mat-toolbar>        
      </div>
      <br>
      <div class="row">
          <div class=" form-group col-sm-12 col-md-12 col-lg-6 col-xl-6">  
              <label for="FiltroDocumento">Filtro por tipo Documento</label>     
              <input  type="text"
                      class="form-control form-control-sm"                                    
                      id="FiltroDocumento"
                      #txtSearch
                      (keyup)="onSearchNombreUsuario( txtSearch.value )">
          </div>
          <div class=" form-group col-sm-12 col-md-12 col-lg-3 col-xl-2">

          </div>
            <div class=" form-group col-sm-12 col-md-12 col-lg-3 col-xl-2 d-flex justify-content-center"> 
              <button style="height: 70%; margin-top: 10%; width: 100%;" mat-raised-button color="primary"
                class=""
                (click)="prevPage()">
                Anterior
                </button>
            </div>  
              <div class=" form-group col-sm-12 col-md-12 col-lg-3 col-xl-2 d-flex justify-content-center" > 
                <button style="height: 70%; margin-top: 10%; width: 100%;" mat-raised-button color="primary"
                class=""
                (click)="nextPage()"
                [disabled]="(correos | searchNombre:pagina:search).length < 10">
                Siguiente
                </button>  
              </div> 
      </div>
      <br>
      <div class="row">
        <div class=" form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="card-body">
            <table class="table table-hover table-bordered border">
              <thead>
                <tr class="fondoEncabezados text-white" id="miTablaPersonalizada">
                  <th>Tipo Documento</th>
                  <th>Usuario</th>
                  <th>Tipo Envio</th>
                  <th>Destinatario</th>
                  <th>Referencia</th>
                  <th class="centrarTexto">Correlativo</th>
                  <th class="centrarTexto">Fecha</th>
                  <th class="centrarTexto">Estado</th>
                  <th class="centrarTexto">Editar</th>
                </tr>
              </thead>                     
                <tbody *ngFor="let correo of correos | filtroCorrelativo:pagina:search ">                         
                  <tr id="miTablaPersonalizada2">
                    <td> {{ correo.NombreDocumento }} </td>
                    <td> {{ correo.NombreUsuario }} </td>
                    <td> {{ correo.TipoEnvio }} </td>
                    <td> {{ correo.Destinatario }} </td>
                    <td> {{ correo.Referencia }} </td>
                    <td> {{ correo.Correlativo }} </td>
                    <td> {{ correo.Fecha | fecha}} </td>
                    <td> {{ correo.EstadoCorreo }} </td>
                    <td> <a class="pointer" style="margin-left: 30%;  color: #e15639" matTooltip="Editar correspondencia"
                      [routerLink]="['/correspondencia/modificar/', correo.Correlativo]">           
                      <mat-icon>edit</mat-icon>
                  </a></td> 
                  </tr>
                </tbody>                      
            </table>
          </div>
        </div>           
      </div>
    </div>
    <div class=" form-group col-sm-12 col-md-12 col-lg-1 col-xl-1"> 
    </div>
  </div>
</div>


