<div fxLayout="columns wrap" fxLayoutAlign="center" >
    <div fxFlex="150"
    style="font-style: italic"
    [ngStyle.xs]="{'font-size.px': 10, color: 'blue'}"
    [ngStyle.sm]="{'font-size.px': 20, color: 'lightblue'}"
    [ngStyle.md]="{'font-size.px': 30, color: 'orange'}">
    
  <div class="ancho4">
    <mat-toolbar>
      <span>Filtrar Correspondencia</span>
              <span class="filtroFecha"></span>      
              <button mat-raised-button color="primary"
              [routerLink]="['/correspondencia/filtroFechas']"                    
              ><mat-icon>event</mat-icon ><span class="separacionIconos"></span>Por Rango de Fechas </button>      
              <span class="filtroFecha"></span>      
              <button mat-raised-button color="primary"
              [routerLink]="['/correspondencia/filtroNombre']" 
              [disabled]="true"                   
              ><mat-icon>badge</mat-icon ><span class="separacionIconos"></span>Por Usuario </button> 
              <span class="filtroFecha"></span>      
              <button mat-raised-button color="primary"
              [routerLink]="['/correspondencia/filtrar']"                    
              ><mat-icon>search</mat-icon><span class="separacionIconos"></span>Por Tipo Documento </button>               
            </mat-toolbar> 
            <span class="textoFiltro">Filtro por Nombre:</span>
            <mat-form-field autocomplete="off" class="busqueda">
                  <input  matInput 
                          spellcheck="false"                        
                          placeholder=""
                          #txtSearch
                          (keyup)="onSearchNombreUsuario( txtSearch.value )"> 
            </mat-form-field>          
            <span class="espacio"></span>              
            <button mat-raised-button color="primary"
            class="paginacion"
            (click)="prevPage()">
            Anterior
            </button>
            &nbsp;
            <button mat-raised-button color="primary"
            class="paginacion"
            (click)="nextPage()"
            [disabled]="(correos | searchNombre:pagina:search).length < 10">
            Siguiente
            </button>       
            <div class="ancho">
              <div >
                <div class="container-fluid ancho2" *ngIf="!hayError">
                  <div class="row">
                    <div class="col-lg-12 col-md-6 col-12">                  
                      <div class="card-body">
                        <table class="table table-hover table-responsive">
                          <thead>
                            <tr class="fondoEncabezados text-white" id="miTablaPersonalizada">
                              <th>Usuario</th>
                              <th class="centrarTexto">Correlativo</th>
                              <th>Tipo Envio</th>
                              <th>Tipo Documento</th>
                              <th>Destinatario</th>
                              <th>Referencia</th>
                              <th class="centrarTexto">Fecha</th>
                              <th class="centrarTexto">Estado</th>
                              <th class="centrarTexto">Editar</th>
                            </tr>
                          </thead>                     
                            <tbody *ngFor="let correo of correos | searchNombre:pagina:search ">                         
                              <tr id="miTablaPersonalizada2">
                                  <td> {{ correo.nombreUsuario }} </td>
                                  <td class="centrarTexto"> {{ correo.correlativo }} </td>
                                <td> {{ correo.nombreEnvio }} </td>
                                <td> {{ correo.nombreDocumento }} </td>
                                <td> {{ correo.destinatario }} </td>
                                <td> {{ correo.referencia }} </td>
                                <td class="centrarTexto"> {{ correo.fecha | date: 'dd/MM/yyyy'}} </td>
                                <td class="centrarTexto"> {{ correo.estadoCorreo }} </td>
                                <td class="centrarTexto"> <a class="pointer" style="color: #e15639" matTooltip="Editar correspondencia"
                                  [routerLink]="['/correspondencia/modificar/', correo.correlativo]">           
                                  <mat-icon>edit</mat-icon>
                              </a></td> 
                              </tr>
                            </tbody>                        
                        </table>
                      </div>
                    </div>         
                  </div>        
                </div>
              </div>          
        </div>
            </div>
    </div>
  </div>
  