<h2 mat-dialog-title>Cambiar Contraseña</h2>
                    <div class="col-md-6 col-sm-6 col-md-6 col-lg-6 p-6 ancho">             
                        <div class=" col-12">                   
                                <div class="mb-6 d-flex" >
                                    <div class="col-md-6">
                                      <mat-form-field>                        
                                        <input matInput 
                                               type="password"                                     
                                               autocomplete="off"
                                               [(ngModel)]="mod.Password"
                                               placeholder="Contraseña">
                                      </mat-form-field>
                                    </div>    
                                    <span class="input"></span>                            
                                    <div class="col-md-6">
                                      <mat-form-field>                        
                                        <input matInput 
                                               type="password"                                     
                                               autocomplete="off"
                                               [(ngModel)]="mod.Password2"
                                               placeholder="Confirmar contraseña">
                                      </mat-form-field>
                                    </div> 
                                </div> 
                        </div>
                    </div>    

<mat-dialog-actions>
  <button mat-raised-button color="warn"mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary"[mat-dialog-close]="true" cdkFocusInitial (click)="modificarPassword()">Aceptar</button>
</mat-dialog-actions>

