    <mat-card>
        <mat-card-header>
            <img src="/assets/logo.png">
        </mat-card-header>
        <mat-form-field appearance="fill" rowHeight="70px">
            <mat-label>Email</mat-label>
        <input type="text" matInput autocomplete="off"
                [(ngModel)]="usuario.email"  >                        
    </mat-form-field>
    <mat-error *ngIf="estadoEmail">
        Debe ingresar un <strong> Email</strong>
</mat-error> 
    <mat-form-field appearance="fill" rowHeight="70px">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput autocomplete="off"
                [(ngModel)]="usuario.password" > 
   </mat-form-field>
   <mat-error *ngIf="estadoPassword">
          debe ingresar una <strong> Contraseña</strong>
</mat-error> 
   <div class="bobi2">
       <button mat-raised-button color="primary" (click)="login()">Login</button>              
    </div>
</mat-card>
