
<div class="container-fluid">
  <div class="row" >
    <div class=" form-group col-sm-12 col-md-12 col-lg-1 col-xl-1">    
    </div>
    <div class="form-group col-sm-12 col-md-12 col-lg-10 col-xl-10">
    <div class="row">
      <mat-toolbar >
        <div class="form-group col-sm-12 col-md-12 col-lg-4 col-xl-4">
          <h3>Correspondencia </h3> 
        </div>
          <div style="padding-left: 2%;" class="form-group col-sm-12 col-md-12 col-lg-4 col-xl-4">                 
              <button mat-raised-button color="primary"
            class="boto"
            routerLink="/correspondencia/agregar"                     
            ><mat-icon>add</mat-icon >Agregar Correspondencia</button> 
          </div>
          <div style="padding-left: 10%;" class="form-group col-sm-12 col-md-12 col-lg-4 col-xl-4"> 
            <button mat-raised-button color="primary"
            class="paginacion"
            (click)="prevPage()">
            Anterior
            </button>                  
            <button mat-raised-button color="primary"
            class="paginacion2"
            (click)="nextPage()"
            [disabled]="(correos | paginar:pagina).length < 10 ">
            Siguiente
            </button>
          </div>                 
      </mat-toolbar> 
    </div>    
    <br>
      <div class="row">
        <div style="width: 100%;" class="form-group col-sm-12 col-md-12 col-lg-4 col-xl-4"> 
                      <table class="table table-hover table-bordered border">
                        <thead>
                          <tr class="fondoEncabezados text-white"  id="miTablaPersonalizada">
                              <th>Usuario</th>
                              <th>Tipo Envio</th>
                              <th>Tipo Documento</th>
                              <th>Destinatario</th>
                              <th>Referencia</th>
                              <th>Correlativo</th>
                              <th>Fecha</th>
                              <th>Estado</th>
                              <th>Editar</th>
                          </tr>
                        </thead>                     
                          <tbody *ngFor="let correo of correos | paginar:pagina ">                         
                            <tr id="miTablaPersonalizada2">
                                <td> {{ correo.NombreUsuario }} </td>
                                <td> {{ correo.TipoEnvio }} </td>
                                <td> {{ correo.NombreDocumento }} </td>
                                <td> {{ correo.Destinatario }} </td>
                                <td> {{ correo.Referencia }} </td>
                                <td> {{ correo.Correlativo }} </td>
                                <td> {{ correo.Fecha | fecha }} </td>
                                <td> {{ correo.EstadoCorreo }} </td>
                                <td> <a class="pointer" style="margin-left: 30%;  color: #e15639" matTooltip="Editar correspondencia"
                                [routerLink]="['/correspondencia/modificar/', correo.Correlativo]">           
                                <mat-icon>edit</mat-icon>
                            </a></td> 
                            </tr>
                          </tbody>                        
                      </table>
        </div>
      </div>
    </div>
    <div class="form-group col-sm-12 col-md-12 col-lg-1 col-xl-1">
    </div>
  </div>    
  </div>   

 