<div class="container-fluid">
  <div class="row" >
    <div class=" form-group col-sm-12 col-md-12 col-lg-2 col-xl-2">    
    </div>
    <div class=" form-group col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <div class="row">
        <mat-toolbar>
          <span>Modificar Usuario</span>
          <div class="spacer"></div>
          <button mat-raised-button color="primary"
              routerLink="/correspondencia/administrador" 
              fxFlex="10"                    
              ><mat-icon>reply</mat-icon > Volver</button>             
      </mat-toolbar>
      </div>
      <div class="row" style=" background-color: #efefef;">
        <section class="d-flex justify-content-center align-items-center">
          <div class="card shadow col-md-4 col-sm-4 col-md-4 col-lg-4 p-4 ancho"> 
              <div class="row">              
                  <h2>  <i class="bi bi-chat-left-quote"></i> &nbsp; Ingrese Datos a Modificar</h2>
              </div>
              <div class="mb-1 col-4"> 
                      <div class="mb-4 d-flex "> 
                          <div class="col-md-10">
                            <mat-form-field>                        
                              <input matInput                      
                                     type="text"  
                                     class="form-control"                                       
                                     autocomplete="off"
                                     [(ngModel)]="modUsuario.CorreoUsuario"
                                     placeholder="Email">
                            </mat-form-field>
                          </div> 
                          <span class="input"></span>                         
                          <div class="col-md-10">
                            <mat-form-field>
                              <mat-label>Rol del usuario</mat-label>
                              <mat-select [(ngModel)]="modUsuario.IdRol"
                                          type="number">
                                  <mat-option *ngFor="let rol of roles" [value]="rol.IdRol">
                                  {{ rol.Rol}}                            
                                  </mat-option>
                              </mat-select>
                              </mat-form-field>    
                          </div>    
                          <span class="input"></span>                            
                          <div class="col-md-10">
                            <button class="boto" mat-raised-button color="primary" (click)="openDialog()"> Cambiar Contraseña </button>
                          </div>  
                      </div> 
                      <div class="mb-4 d-flex ">
                        <div class="col-md-10">
                          <mat-form-field>                        
                            <input matInput 
                                   type="text" 
                                   class="form-control"                                    
                                   autocomplete="off"
                                   [(ngModel)]="modUsuario.NombreUsuario"                               
                                   placeholder="Nombre de usuario">
                          </mat-form-field>                          
                        </div>
                        <span class="input"></span>         
                        <div class="col-md-10">                                                 
                        </div>
                        <span class="input"></span>         
                        <div class="col-md-10">
                          <button class="boto" mat-raised-button color="primary" (click)="openDialog2()"> Cambiar Estado </button>                 
                        </div>
                      </div>
                      <div class="mb-4 d-flex">
                        </div>     
                      <div class="mb-2" >
                        <button mat-raised-button color="primary" class="ancho3"                                                 
                        (click)="modificar()">
                           <mat-icon mat-list-icon >send</mat-icon> Ingresar 
                       </button>  
                      </div> 
              </div>
          </div>
      </section>
      </div>    
    </div>
    <div class=" form-group col-sm-12 col-md-12 col-lg-2 col-xl-2">    
    </div>
  </div>
</div>


    