
<mat-sidenav-container fullscreen >
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar color="primary">            
            <span>Correspondencia</span>
            <span class="spacer"></span>
            <button mat-icon-button
                    (click)="sidenav.toggle()">   
                    <mat-icon>arrow_right_alt</mat-icon>
                <!-- <mat-icon mat-list-icon>exit_to_app</mat-icon>             -->
            </button>
        </mat-toolbar>
        <mat-nav-list>
            <a routerLink="./mostrar"
               mat-list-item
               (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>list</mat-icon>
                <span>Mostrar Correspondencia</span>
            </a>
            <a routerLink="./agregar"
            mat-list-item
            (click)="sidenav.toggle()" >
            <mat-icon mat-list-icon>add</mat-icon>
             <span>Agregar Correspondencia</span>
            </a>           
            <a routerLink="./filtrar/:correlativo"
            mat-list-item
            (click)="sidenav.toggle()" >
            <mat-icon mat-list-icon>search</mat-icon>
             <span>Filtrar Correspondencia</span>
            </a>
            <a routerLink="./administrador"
            mat-list-item *ngIf="esAdmin"
            (click)="sidenav.toggle()" >
            <mat-icon mat-list-icon>admin_panel_settings</mat-icon>
             <span>Administracion</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar color="primary">
        <button mat-icon-button
                (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
            Menu
        </button>       
        <span>Usuario: {{ usuario.nombre }}</span>
        <div class="spacer"></div>
        <button mat-button
         (click)="logout()">
            Logout
        </button>
    </mat-toolbar>
    <div class="container">
        <router-outlet fullscreen ></router-outlet>
    </div>
</mat-sidenav-container>
