<table mat-table
       [dataSource]="correos" multiTemplateDataRows
       class="mat-elevation-z8">

  <ng-container matColumnDef="usuario">
    <th mat-header-cell *matHeaderCellDef> Usuario </th>
    <td mat-cell *matCellDef="let correo"> {{correo.usuario}} </td>
  </ng-container> 

<ng-container matColumnDef="tipoEnvio">
    <th mat-header-cell *matHeaderCellDef> Tipo de Envio </th>
    <td mat-cell *matCellDef="let correo"> {{correo.nombreEnvio}} </td>
  </ng-container>  

  <ng-container matColumnDef="nombreDocumento">
    <th mat-header-cell *matHeaderCellDef> Nombre de Documento</th>
    <td mat-cell *matCellDef="let correo"> {{correo.nombreDocumento}} </td>
  </ng-container> 

  <ng-container matColumnDef="destinatario">
    <th mat-header-cell *matHeaderCellDef> Destinatario </th>
    <td mat-cell *matCellDef="let correo"> {{correo.destinatario}} </td>
  </ng-container>

  <ng-container matColumnDef="referencia">
    <th mat-header-cell *matHeaderCellDef> Referencia </th>
    <td mat-cell *matCellDef="let correo"> {{correo.referencia}} </td>
  </ng-container>

  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let correo"> {{correo.fecha | date: 'dd/MM/yyyy' }} </td>
  </ng-container>

  <ng-container matColumnDef="correlativo">
    <th mat-header-cell *matHeaderCellDef> Correlativo </th>
    <td mat-cell *matCellDef="let correo"> {{correo.correlativo}} </td>
  </ng-container>

  <ng-container matColumnDef="estadoCorreo">
    <th mat-header-cell *matHeaderCellDef> EstadoCorreo </th>
    <td mat-cell *matCellDef="let correo"> {{correo.estadoCorreo}} </td>       
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let correo" style="text-align: right;">
   
    <a class="pointer" style="color: #e15639" matTooltip="Editar Correspondencia"
        [routerLink]="['/correspondencia/modificar/', correo.correlativo]"
        mat-dialog-close  >           
        <mat-icon>edit</mat-icon>
    </a>
  </td>
  </ng-container>
 
 
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let correo" [attr.colspan]="columnsToDisplay.length">     
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let correo; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === correo"
      (click)="expandedElement = expandedElement === correo ? null : correo">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
