/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;    
}

.spacer {
    flex: 1 1 auto;
}
.centrarTexto {
    margin: 2px;
    text-align: center;
}

table {
    width: 100%;
}

.pointer{
    cursor: pointer;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .ancho {
    width: 80%;
  }

  .completo {
    width: 90%;
  }

  .salto {
    margin-top: 10px;
  }