<div class="container">
    <mat-toolbar>
        <span>Ingresar Correspondencia</span>
        <div class="spacer"></div>
        <button mat-raised-button color="primary"
            routerLink="/correspondencia/mostrar"                     
            ><mat-icon>reply</mat-icon > Volver</button>
    </mat-toolbar>
    <mat-card style="margin-top: 10px;">
        <form [formGroup]="miFormulario" (ngSubmit)="ingresar()">
            <mat-grid-list cols="2" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho" >                        
                        <input matInput 
                               type="text"
                               class="input100"
                               autocomplete="off"
                               formControlName="destinatario"
                               placeholder="Destinatario">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Tipo de Documento</mat-label>
                        <mat-select formControlName="idTipoDocumento"
                                    type="number">
                            <mat-option *ngFor="let tipo of tipoDocumento" [value]="tipo.idTipoDocumento">
                            {{ tipo.nombreDocumento }}                            
                            </mat-option>
                        </mat-select>
                        </mat-form-field>    
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho" >
                        <mat-label>Referencia</mat-label>
                        <input matInput 
                               class="form-control"
                               autocomplete="off"
                               type="text"
                               formControlName="referencia"
                               placeholder="Referencia">
                      </mat-form-field>     
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">                   
                    <mat-form-field class="ancho">
                        <mat-label>Tipo de Envio</mat-label>
                        <mat-select formControlName="idTipoEnvio"
                                    type="number">
                            <mat-option *ngFor="let tipo of tipoEnvio" [value]="tipo.idTipoEnvio">
                            {{ tipo.nombreEnvio }}                            
                            </mat-option>
                        </mat-select>
                        </mat-form-field>
                </mat-grid-tile> 
                <mat-grid-tile [colspan]="1" [rowspan]="1">                    
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">    
            </mat-grid-tile>        
                <mat-grid-tile [colspan]="1" [rowspan]="1" >                         
                    <button mat-raised-button color="primary" class="ancho"                                                 
                    type="submit" [disabled]="miFormulario.invalid">
                <mat-icon mat-list-icon >send</mat-icon> Ingresar 
            </button>  
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1"> 
                </mat-grid-tile>
            </mat-grid-list>                  
        </form>
    </mat-card>
</div>